@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Carter+One&family=Charmonman:wght@400;700&family=Edu+TAS+Beginner&family=Kaushan+Script&family=Megrim&family=Oooh+Baby&family=Orbitron&family=Pixelify+Sans&family=Poppins:wght@200;300;400;500;600;700;800&family=Press+Start+2P&family=Source+Code+Pro:wght@200&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;

}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;

}

html {
    font-size: 65%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    cursor: default;
    color: var(--text-color);
    z-index: 1;
    font-family: 'carter one', sans-serif;
    font-weight: 200;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    /* border-bottom: .5px solid rgb(255, 255, 255); */
}

#menu-icon {
    color: var(--text-color);
    font-size: 3.6rem;
    display: none;
}

section {
    height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.home-content h1 {
    font-family: 'Oooh Baby', sans-serif;
    font-size: 4rem;
    /*  
    Oooh baby
    kaushan script
    source code pro
    Megrim
    Orbitron
    Charmonman
    Edu TAS Beginner
    pixelify sans
    black ops one
    Press Start 2P
    Carter one
       
    */
}

.home-img img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2rem);
    }

    100% {
        transform: translateY(0);
    }
}

.about h1 {
    text-align: center;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    font-size: 2.5rem;
    color: var(--main-color);

}

span {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    background: var(--main-color);
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    color: var(--second-bg-color);
    transition: .3s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    background: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.about img {
    width: 30vw;
    margin-top: -7rem;
    padding: 0 2rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    padding: 0 2rem;
}

.about-content h3 {
    font-size: 2.6rem;
    padding: 0 2rem;
}

.about-content p {
    padding: 0 40rem 0 4rem;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-con .services-box {
    background: var(--second-bg-color);
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--bg-color);
    transition: 0.4s ease;
}

.services-con .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.05);
}

.services h2 {
    margin-bottom: 5rem;
}

.services h3 {
    font-size: 3rem;
    margin-bottom: .5rem;
}

.services-box i {
    font-size: 7rem;
    margin-bottom: 1rem;
    color: var(--main-color)
}

.services-box p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.portfolio {
    background-color: var(--second-bg-color);
}

.portfolio-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.portfolio-box {
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    width: 95%;
}

.portfolio-box h4 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.portfolio-box p {
    font-size: 1rem;
}

.portfolio-box img {
    width: 100%;
    opacity: 80%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transition: .5s ease;
    transform: translateY(100%);
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact {
    background: var(--bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.contact form .input-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    cursor: pointer;
    margin-top: 2rem;
}

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border-radius: .8rem;
}

.footer-icon a i {
    font-size: 2.4rem;
}

@media screen and (max-width:1200) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width:990px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
        margin-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }

    .about-content p {
        padding: 0 20rem 0 3rem;
    }
}

@media screen and (max-width:768px) {
    #menu-icon {
        display: block;
        cursor: pointer;
        z-index: 1;
    }

    .navbar {
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        padding: 5rem 0 0 10%;
        background: var(--bg-color);
        border-top: .5rem solid rgba(0, 0, 0, .1);
        box-shadow: 0 .5rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column-reverse;
    }

    .home-content h1 {
        font-size: 4.2rem;
    }

    .home-content h3 {
        font-size: 2.4rem;
    }

    .home-img img {
        width: 60vw;
        margin-bottom: 2rem;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about-img img {
        width: 75vw;
        margin-bottom: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .services-box {
        max-height: 21rem;
        max-width: 90%;
    }

    /* Servives box layers */

    .services-con .services-box{
        position: relative;
        display: grid;
        height: 100%;
        width: 100%;
        /* padding: 0 1rem ; */
        align-items: center;
        text-align: center;
        justify-content: center;
        transition: .5s ease;
        color: rgb(255, 255, 255,1);
        overflow: hidden;
        /* transform: translateY(100%); */
    }
    .services-box .services-layer{
        position: absolute;
        transform: translateY(100%);
        transition: 0.5s ease;
    }
    .services-box:hover .services-layer{
        transform: translateY(0%);
        color: rgb(255, 255, 255,1);
        background-color: var(--second-bg-color);
        padding-top:2rem;
    }
    .services-box p {
        font-size: 1.4rem;
        padding: 2rem ;
    }

    .services-box h3 {
        font-size: 2.5rem;
    }

    .services-box a {
        font-size: 1.2rem;
        margin-top: 0.5rem;
    }

    .portfolio-con {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-box h4 {
        font-size: 2.3rem;
        padding-top: 1.5rem;
    }

    .portfolio-con {
        gap: 2rem;
    }

    .about-content p {
        padding: 0 10rem 0 3rem;
    }
}

@media screen and (max-width:450px) {
    html {
        font-size: 60%;
    }

    .home-img img {
        width: 60vw;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .about-content p {
        padding: 0 2rem 0 2rem;
    }
}

@media screen and (max-width:391px) {
    html {
        font-size: 55%;
    }

    .home-img img {
        width: 60vw;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }

    .about-content p {
        padding: 0 1.5rem 0 3rem;
    }
}